
.a{
    width: 100px;
    height: 100px;
    background-color: red;
    padding: 10px;
    box-sizing: border-box;
}
.b{
    width: 100px;
    height: 100px;
    background-color: blue;
    padding: 10px;
    box-sizing: content-box;
}
.c{
    width: 100px;
    height: 100px;
    background-color: green;
}